@import 'tailwindcss';
@plugin "@iconify/tailwind4";


* {
  box-sizing: border-box;
  font-family: 'Century Gothic', 'Segoe UI', Tahoma, Arial, sans-serif;
}

body {
  background-color: #0f0f10 !important;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: linear-gradient(135deg, #0f0f10 0%, #1a1a1d 100%);
}

a {

  text-decoration: none;
}